* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, sans-serif;
}

body {
    background: linear-gradient(#635985,#443C68,#393053,#18122B);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.game-container {
    background-image: url(Images/Background/Street.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#collision{
    opacity: 0;
}

#restartBtn {
    display: none;
    top: 50%;
    background: rgb(226, 175, 6);
    cursor: pointer;
}

#title {
    width: 50%;
    height: 50%;
    top: 50%;
    background: rgba(255, 255, 255, 0.275);
    color:  black;
}

#startBtn {
    width: 200px;
    top: 80%;
    background: rgb(226, 175, 6);
    cursor: pointer;
}

h6, 
p,
#startBtn,
#restartBtn {
    color: white;
}

#title,
#startBtn,
#restartBtn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 50px;
    border-radius: 5px;
    border: none;
}

@media screen {
    
}